<!doctype html>
<html lang="en">

<head>
    <title>Test Page</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="./css/index.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


    <!-- 本地完全版Vue.js 用根目录时会出现读取不到js的情况 -->
    <script src="./js/vue.js"></script>
    <!-- 开发环境版本，包含了有帮助的命令行警告 -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> -->

</head>

<body>

    <!-- 第一个框体,排版 -->
    <!-- <div class="container-1">
        <div style="border: 1px solid #ccc;margin-bottom: 50px;padding-left: 50px;">
            <h1>用户手册</h1>
            <ul>
                <li>概览</li>
                <li>主屏幕</li>
                <li>文件</li>
                <li>支持与帮助</li>
            </ul>
        </div>
        <img src="./images/cat.jpg" alt="" class="img-style" align="right">
        <div>
            <p>zh<span class="">新的一段</span> aa</p>
            <p>
                <h1>首先</h1>为了更好的呈献给用户高相关的搜索结果，谷歌开始针对用户的查询或搜索设备来动态截选页面内容作为在SERP中呈现的“新”标题和描述，
                (也就是说：SERP中显示的结果可能会与你在Title Tag和 Meta Description标签中设置的代码有所不同，尤其是低质量的Title tag和Meta Description)
                <h1>其次</h1>谷歌对SERP中页面的标题和描述的可显示字数进行了扩张；
                后来谷歌又对SERP中标题和描述的可显示字数进行了缩减。
                <h1>最后</h1>这一系列的更改，都说明了谷歌对用户体验的不断重视和持续优化。
                也许有朝一日，随着谷歌的不断成长和智能，SERP中显示的标题和描述会完全实现动态自动化。
            </p>
        </div>

        <img src="./images/dog.jpg" alt="this is a dog!" class="img-style" align="top">
    </div> -->

    <!-- 第二个框体,动画 -->
    <!-- <div class="container-2">
        <div class="container-2">
            <div id="circle-1"></div>
        </div>
        <button id="run-circle">Run</button>
    </div> -->

    <!-- 第三个框体,Vue -->
    <!-- <div class="container-3">
        <div id="newvm">
            ***a***{{a}}
            <p v-if="seen">***seen***可以看到吗?</p>
            <span v-bind:title="msg">***msg***鼠标悬停可以看到的文字</span>
            <ul>
                <li v-for="todo in todos">***todo***{{todo.text}}</li>
            </ul>
            <input type="text" v-model="a">
            <p>***b***{{b}}</p>
            <p>***c***{{c}}</p>
            /***v-once插入一下,不可以改变***/
            <p v-once>***d***{{d}}</p>
            <button id="c-button" v-on:click="submitButton">submit</button>
            <div class="sheng" style="width: 500px;height: 100px;background: red;opacity: 30%;"></div>
        </div>
    </div> -->


    <!-- 第四个框体,CSS权威指南第三版 -->
    <div class="container-4">
        <p>
            <em>测试字体</em>
        </p>
        <strong>测试粗体</strong><a>测试换行</a>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
    <script src="https://unpkg.com/lodash@4.16.6"></script>
    <!-- 本地JS文件 -->
    <script src="./bundle.js"></script>
    <script src="./js/index.js"></script>
</body>

</html>